* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.nav {
  background-color: #333333;
  padding: 0 10%;
  color: #ebebeb;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-title {
  margin-left: 325px;
}
.nav-links {
  width: 350px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.btn {
  height: 40px;
  width: 140px;
  margin-left: 290px;
  background-color: #17a2b8;
  color: #ffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: -4px -4px black;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 350px;
  margin-top: 66px;
  width: 1200px;
  height: 75%;
  background-color: white;
}

.col1 {
  width: 600px;
}

.user-card,
.card {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: #d0d0d0;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 1.2rem;
  overflow: hidden;
}
.card-nav {
  background-color: #17a2b8;
  height: 125px;
  margin-bottom: 70px;
}

.card-body {
  padding: 20px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
  margin: 20px 0px;
}

.avatar-m {
  border-radius: 50%;
  background-color: cornsilk;
  height: 190px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

.icon-s {
  height: 20px;
}

a {
  color: #29669f;
}

.header {
  background-color: #333333;
  padding: 20px;
  color: white;
  font-size: x-large;
}

.avatar-s {
  border-radius: 50%;
  height: 45px;
  margin-right: 10px;
}

.user-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin: 10px 0;
}

.start,
.end {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.date {
  font-size: 20px;
  color: rgb(226, 207, 207);
}

.footer {
  padding: 20px;
  border-top: 2px solid#d0d0d0;
  border-width: 5px;
}

.connections {
  background-color: rgba(255, 255, 255, 0.603);
  color: black;
  border-radius: 50%;
  height: 20px;
  padding: 0 10px;
}
